@font-face {
  font-family: '阿里巴巴普惠体';
  src: url('./阿里巴巴普惠体.ttf');
}
@font-face {
  font-family: '阿里妈妈东方大楷';
  src: url('./阿里妈妈东方大楷.ttf');
}
@font-face {
  font-family: '阿里妈妈数黑体';
  src: url('./阿里妈妈数黑体.ttf');
}
@font-face {
  font-family: '标准体';
  src: url('./标准体.ttf');
}
@font-face {
  font-family: '创客贴金刚体';
  src: url('./创客贴金刚体.ttf');
}
@font-face {
  font-family: '方正仿宋简体';
  src: url('./方正仿宋简体.ttf');
}
@font-face {
  font-family: '方正黑体简体';
  src: url('./方正黑体简体.ttf');
}
@font-face {
  font-family: '方正楷体简体';
  src: url('./方正楷体简体.ttf');
}
@font-face {
  font-family: '蒙黑体';
  src: url('./蒙黑体.ttf');
}
@font-face {
  font-family: '圆体';
  src: url('./圆体.ttf');
}
@font-face {
  font-family: '中文像素字体';
  src: url('./中文像素字体.ttf');
}
@font-face {
  font-family: 'Aa厚底黑';
  src: url('./Aa厚底黑.ttf');
}
@font-face {
  font-family: 'Aa剑豪体';
  src: url('./Aa剑豪体.ttf');
}
