@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #00c091
    ),
    'success': (
      'base': #67c23a
    ),
    'warning': (
      'base': #e6a23c
    ),
    'danger': (
      'base': #f56c6c
    ),
    'error': (
      'base': #f56c6c
    ),
    'info': (
      'base': #909399
    )
  ),
  $button-padding-horizontal: (
    'default': 80px
  )
);

$primary-color: #1890ff;

// web-deevelop简历模板颜色
$primary-title-color: #121c26;
$primary-sub-title-color: #666;
$primary-title-font-size: 20px;

$primary-text-color: #757575;
$primary-text-font-size: 14px;
